* {

    margin: 0;
    padding: 0;
    outline: none;

    color: #0d0d0d;
    list-style: none;
    text-decoration: none
    color(#2e2e2e #2e2e2e #2e2e2e);
    font-size: 16pt;
    font-family: roboto;

}

@font-face {
    font-family: roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf");

    font-weight: 400;
}

h1, h2, h3, h4 {
    text-align: left;
}

.tarjeta {
    border: solid 1px #2e2e2e;
    background-color: #F7A29E;
}

body {
    background-color: white;
    background-size: 100%;
    background-position:right;
    background-repeat: repeat-y;
}

header {
    background-color: #3B3F49;
}

button {
    background-color: #F7A29E;
    padding: 10px 50px;
    border: solid 1px; 
    border-radius: 10px;
    font-weight: bold;
}

section {
    padding: 24pt 60px;
}

footer {
    background-color: #3B3F49;
}

footer ul li {
    color: #F7A29E;

}